body {
	margin: 0;
	padding: 0;
	color: #5e5b57;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.4em; 
	background: #242424 repeat-x top;
}

a.link, a.link:link, a.link:visited { 
	color: #f2b600; 
	font-weight: normal; 
	text-decoration: none; 
}

a.link:hover { 
	text-decoration: underline; 
}

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }
blockquote { font-style: italic; margin: 0 0 0 10px;}
cite { font-weight: bold; color:#e17300; }
cite a, cite a:link, cite a:visited  { font-size: 12px; text-decoration: none; font-style: normal }
cite span { font-weight: 400; color: #e17300; }

h1, h2, h3, h4, h5, h6 { color: #f2b600; font-weight: normal; }
h1 { font-size: 48px; margin: 0 0 30px; padding: 5px 0 }
h2 { font-size: 30px; margin: 0 0 25px; padding: 5px 0 }
h3 { font-size: 24px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 12px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }

.float_l { float: left }
.float_r { float: right }

#home { 
	background-image: url(../images/home_bg.png); 
}

#subpage_search { 
	background-image: url(../images/subpage_search_bg.png); 
}

#subpage { 
	background-image: url(../images/subpage_bg.jpg); 
}

#templatemo_wrapper {
	margin: 0 auto;
	padding: 0 10px;
}
#templatemo_menu {
	height: 50px;
}
#templatemo_header_home {
	height: 150px;
	background: url(../images/templatemo_home_header.jpg) no-repeat top 
}
#templatemo_header_sp {
	height: 150px;
	background: url(../images/templatemo_subpage_header.jpg) no-repeat top 
}
#templatemo_middle {
	height: 156px;
	text-align: center;
	padding-top: 30px;

}
#templatemo_footer_wrapper {
	width: 100%;
	background: #1b1b1b url(../images/templatemo_footer.jpg) repeat-x top
}
#templatemo_footer {
	padding-top: 30px;
	margin: 0 auto;
}

#site_title { 
	margin: 0 auto; 
	padding: 40px 0; 
	text-align: center;
}
#site_title a {
	color: black;
}

#content_top {
	height: 150px;
	margin-bottom: 40px;
}

.pagging { 
	margin: 0 0 20px; 
	padding: 0; 
}

.pagging ul { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.pagging ul li { 
	margin: 0; 
	padding: 0; 
	display: inline; 
}

.pagging ul li a { 
	float: left; 
	display: block; 
	text-decoration: none; 
	margin-right: 5px; 
	padding: 5px 10px; 
	background-color: #1b1b1b; 
	border: 1px solid #2f2f2f; 
}

.pagging ul li a:hover, .pagging ul li a.selected{ 
	background: #f2b600; 
	border: 1px solid #dfdfdf; 
	color: #fff;  
}


select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 0px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	border: 2px solid #242424;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}



input[type="search"].search-input {
	height: 40px;
	font-size: 30px;
	line-height: 40px;
}
input[type="search"].search-input:focus {
	border: 2px solid white;
}

input[type="submit"].search-sub {
	height: 52px;
	font-size: 30px;
	line-height: 52px;
	background: #242424;
	color: white;
	border: 2px solid white;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}


.btn-upload {
	height: 70px;
	line-height: 50px;
}


.ddsmoothmenu ul{
	z-index:100;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
	position: relative;
	display: inline;
	float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a {
	display: block;
	height: 50px;
	padding: 0 32px 0 30px;
	line-height: 50px;
	margin: 0 5px 0 9px;
	font-size: 14px;
	color: #bbb3ac;	
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	outline: none;	
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
	display: inline-block;
}

.ddsmoothmenu ul li a.selected, .ddsmoothmenu ul li a:hover { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	color: #f2b600;
}



a.rotation {
	text-decoration: none;
	display: inline-block;	
	width: 400px;
	height: 83px;
	transition: 2s;
	-moz-transition: 2s, -moz-transform 2s; /* Firefox 4 */
	-webkit-transition: 2s, -webkit-transform 2s; /* Safari and Chrome */
	-o-transition: 2s, -o-transform 2s; /* Opera */
}
a.rotation:hover {
	transform: rotateY(180deg);
	-moz-transform: rotateY(180deg); /* Firefox 4 */
	-webkit-transform: rotateY(180deg); /* Safari and Chrome */
	-o-transform: rotateY(180deg); /* Opera */
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right
}

.btn-group a {
	color: white;
}
.btn-group a.selected {
	color: black;
}