    <div id="modal_buttons" ng-controller="LoginModalFrame">
    <button class="btn" ng-click="open()">CLICK for LOGIN!</button>
    <div modal="shouldBeOpen" close="close()" options="opts">
        <div class="modal-header">
            <h4>Login</h4>
        </div>
        <div class="modal-body">
        <div id="alertCtrl" ng-controller="AlertCtrl">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{ alert.msg }}</alert>
        </div>
      <form class="form-stacked" name="logForm">
      <label for="username">Username</label>
      <input type="text" id="username" class="span2" ng-model="jmeno"/>
      <label for="password">Password</label>
      <input type="password" id="password" class="span2" ng-model="password"/>
      <br><br>
      <input type="submit" class="btn primary" value="Login" ng-click="login()"/>
      <h2>{{jmeno}}</h2>
      <p1>{{sessionID}}</p1>
    </form>
        </div>
          <div class="modal-footer">
            <button class="btn" ng-click="login()">Login</button>
            <button class="btn" ng-click="openReg()">Registration</button>
            <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
        </div>
    </div>
    
    <button class="btn" ng-click="openReg()">CLICK for REG!</button>
    <div modal="shouldBeOpenReg" close="closeReg()" options="opts">
        <div class="modal-header">
            <h4>Registration</h4>
        </div>
        <div class="modal-body">
             <form name="regForm" class="form-stacked">
                <label for="username">Username</label>
                <input type="text" name="username" ng-model="user.username" ng-change="ValUserName()" required > </input>
                <span class="error" ng-show="regForm.username.$error.required">Required!</span><h7 ng-model="uzJe">{{ValUserName}}</h7><br>
                <label for="email">Email</label>
                <input type="email" name="email" ng-model="user.email" ng-MouseLeave="ValEmail()" required>
                  <span class="error" ng-show="regForm.email.$error.required">Required!</span>
                  <span class="error" ng-show="regForm.email.$error.email"> Není validní mail!</span>{{ValEmail}}<br>
                <label for="password">Password</label>
                <input type="password" id="password" class="span2" name="pass" ng-model="user.password" ng-minlength="3" ng-maxlength="16" required>
                  <span class="error" ng-show="regForm.pass.$error.required">Required!</span>
                  <span class="error" ng-show="regForm.pass.$error.minlength">Moc krátké!</span>
                  <span class="error" ng-show="regForm.pass.$error.maxlength">Too long!</span><br>
                  <label for="name">Name</label>
                <input type="text" name"jmeno" ng-model="user.jmeno" ng-minlength="3" required></input>  
                <span class="error" class="span2" ng-show="regForm.jmeno.$error.required">Required!</span>
                <span class="error" class="span2" ng-show="regForm.jmeno.$error.minlength">Moc krátké!</span>
                <label for="tel">Tel</label>
                <input type="text" name"tel" ng-model="user.tel"></input><br>
                Gender: <input type="radio" ng-model="user.gender" value="male" /> male
                <input type="radio" ng-model="user.gender" value="female" /> female<br />
              </form>
              <div id="json">
                <p>Co se odešle na server ?</p>
                {{user | json}}
              </div>
        </div>
      
        <div class="modal-footer">
            <button class="btn" ng-click="reg()">Create account</button>
            <button class="btn btn-warning cancel" ng-click="closeReg()">Cancel</button>
        </div>
     
      
        </div>
    </div>
  