		<!-- Intro Wrapper -->
			<div id="intro-wrapper" class="wrapper wrapper-style2">
				<div class="title">
					Přihlásit se
				</div>
				<div class="container">
					<div class="row">
						<div class="12u">
							<div class="marginAuto w300">
							<!-- Intro -->
								<section id="intro">
									<form ng-submit="doLogin(user)">
										<input class="text" ng-model="user.login" type="text" name="login" placeholder="Login"/><br/>
										<input class="text" ng-model="user.pass" type="password" name="pass" placeholder="Heslo"/><br/>
										<input class="button white" type="Submit" value="Přihlásit" />
									</form>
									<p class="style1"></p>
									<div id="previews"></div>
								</section>
							<!-- /Intro -->
							</div>
							
						</div>
					</div>
				</div>
			</div>
		<!-- /Intro Wrapper -->
		<!-- Main Wrapper -->
		<div class="wrapper">
			&nbsp;
		</div>
		<!-- /Main Wrapper -->